.fonthead{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    margin-left: 1.5em;
}

.divformat{
    position: relative;
    display: flex;
    justify-content:left;
    align-items: center;
    max-width: 100%;
}


@media screen and (max-width: 768px) {
    .divformat{
        display: flex;
        max-width: 100%;

    }
    .fonthead{
        font-size: 0.8rem;
        margin-left: 0.5em;
    }
}